/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer utilities {
  .navbar {
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
  }
  .navbar.active {
    background: linear-gradient(
      90deg,
      rgb(31, 38, 135) 0%,
      rgb(31, 38, 135) 100%
    );
  }

  .glass-bg {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0.5rem 2rem 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
    border-radius: 0.625rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
