/* purgecss start ignore */
@tailwind base;
h1 {
  font-family: "Inter", sans-serif;
}

span,
a,
p {
  font-family: "Inter", sans-serif;
}
/**
* This injects any component classes registered by plugins.
*
* If using `postcss-import`, use this import instead:
*
* @import "tailwindcss/components";
*/
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer utilities {
  .glass-bg-dark {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0.5rem 2rem 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
    border-radius: 0.625rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .glass-bg-light {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .svg-light {
    filter: invert(1%) sepia(21%) saturate(722%) hue-rotate(166deg)
      brightness(100%) contrast(100%);
  }

  .svg-dark {
    filter: invert(100%) sepia(33%) saturate(2%) hue-rotate(163deg)
      brightness(112%) contrast(99%);
  }
}
